/* add code for mobile optimization
  make image size of screen for phones
  lock arrows?
  turn off hove on mobile?
*/



body{
 /* background-image: url("images/DCS_2701-1024x685.jpg");
background-repeat: no-repeat;
background-position: center; */
  text-align: center;
  background-color: #efd044;
}
#content{
text-align: center;
min-height: 504px;
min-width: 378px;
}

#content img{
  /* border: solid 3px #0693e3; */
  max-height: 504px;
  max-width: 378px;

  /* height: 504px;
  width: 378px; */
  /* center image */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  border-radius: 25px;
  background: #166aea;
  padding: 20px;
  z-index:999;
}

/* #arch img{
  position: relative;
  top: -1px;
  z-index:-999;
} */

.header{
  margin-top: 40px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

button {
  text-align: center;
  border: transparent;
  background-color: transparent;
  color: #085514;
  padding: 5px 10px;
  bottom: 20px;
  width: 80px;
  height: 100px;
}

/* button:hover {
  background-color:transparent;
  color: #ffffff;
  padding: 5px 10px;
} */

button:disabled,
button[disabled]{
  background-color: transparent;
  /* border: 1px solid #999999; */
  /* background-color: #cccccc; */
  color: #be2121;
}

/* button id styling to position buttons over images */
#forward{
position: relative;
top: -100px;
left: 41px;
}

#backward{
position: relative;
left: -42px;
}

#right{
  position: relative;
  left: -16px
}

#left{
  position: relative;
  left: 20px;
}

.buttons{
  min-height: 504px;
min-width: 378px;
position: relative;
top: -100px;
left: -20px;

}

/* adding shadows to buttons svg */
svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 1));
}

